/**
 * References:
 *   * https://css-tricks.com/dont-overthink-it-grids/
 */

.LatestPolls {
  display: block;
  margin-bottom: 10px;
}

.LatestPolls-container {
  margin: 0 10px;
}

.LatestPolls-container:after {
  content: "";
  display: table;
  clear: both;
}

.LatestPolls-pollContainer {
  width: 100%;
  text-align: center;
}

.LatestPolls-poll {
  width: 30%;
  display: inline-block;
  border-radius: 5px;
  border: solid 1px darkgreen;
  margin: 5px;
}

.LatestPolls-PollChart rect {
  fill: #8B00FD;
}

.LatestPolls-PollChart svg {
  margin-bottom: 5px;
}

.LatestPolls-poll-title {
  text-align: center;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

